body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

/* Responsif */
.display-4 {
  font-size: clamp(1.9rem, 6vw, 3.5rem);
}

@media (max-width: 575.98px) {
  .card-list__card .card-img-top {
    height: 280px !important;
  }
}
